<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @text.text %>
</p>

<p>
  <strong>Number:</strong>
  <%= @text.number %>
</p>

<%= link_to 'Edit', edit_text_path(@text) %> |
<%= link_to 'Back', texts_path %>
